<ul class="apps">
  <% for(var slug in products) { %>
    <% var app = products[slug]; %>
    <li class="app" data-slug="<%= slug %>">
      <img class="logo pull-right" src="/img/app_logos/<%= slug %>.png">
      <span class="title"><%= app.title %></span>
      <a target='blank' href="<%= app.websiteURL %>">Website</a> |
      <a target='blank' href="<%= app.sourceCodeURL %>">Source</a> |
      <a target='blank' href="<%= app.dockerImageURL %>">Image</a> |
      <a href="/apps?action=new&slug=<%= slug %>">Install</a>
      <span class="description"><%= app.description %></span>
    </li>
  <% } %>
</ul>
<div class="clearfix"></div>
