<ul class="apps">
  <% for(var slug in products) { %>
    <% var app = products[slug]; %>
    <li class="app" data-slug="<%= slug %>">
      <img class="logo pull-right" src="/apps/<%= slug %>/icon.png">
      <div>
        <span class="title"><%= app.title %></span>
        <span class="version"><%= app.version %></span>
      </div>
      <a target='blank' href="<%= url('/apps/'+slug) %>">Website</a> |
      <a target='blank' href="<%= app.sourceCodeURL %>">Source</a> |
      <a href="/instances?action=new&slug=<%= slug %>">Install</a>
      <span class="description"><%= app.description %></span>
      <div class="pricing">
        <span class="price"><%= app.__pricing.size.memory %> GB RAM & <%= app.__pricing.size.storage %> GB SSD instances for $<%= app.__pricing.dollars %>/mo</span>
      </div>
    </li>
  <% } %>
</ul>
<div class="clearfix"></div>
