<table class="table">
  <thead>
    <tr>
      <th>Memory</th>
      <th>Cores</th>
      <th>Storage</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% for (var name in priceMatrix) { %>
      <% var tier = priceMatrix[name] %>
      <tr data-size="<%= name %>" data-memory="<%= tier.memory %>">
        <td>
          <% if (tier.memory < 1000) { %>
            <%= tier.memory %> MB
          <% } else { %>
            <%= (Math.floor(tier.memory/1000))%> GB
          <% } %>
        </td>
        <td><%= tier.cpus %></td>
        <td><%= tier.storage %> GB</td>
        <td>$<%= (tier.cents / 100) %>/mo</td>
      </tr>
    <% } %>
  </tbody>
</table>
